/* These apply to the whole website */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(6, 0, 24); 
    overflow-x: hidden;
}

/* Home page */

#container{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/reverse\ background.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* background-attachment: fixed;  --- cool effect */
}

#navbar{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#navbar img{
    width: 150px;
    padding: 2%;
}

.nav-content{
    flex: 1;
    text-align: right;
}

.nav-content p{
    list-style: none;
    display: inline-block;
    padding: 3px;
    position: relative;
    color: grey;
    text-decoration: none;
    font-size: 25px;
}

.nav-content ul li{
    list-style: none;
    display: inline-block;
    padding: 3px;
    position: relative;
}

.nav-content ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-content ul{
    font-size: 0;  /* Removes whitespace inbetween the navbar */
}

.nav-content ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: lightblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-content ul li:hover::after{
    width: 100%;
}

.nav-content p:hover {
    cursor: default;
}

#homepage {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 84vh;
    background-color: transparent;
    align-items: center;
}
  
.circlepfp-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: 0 0;
    justify-content: center; 
    align-items: center;
    margin-bottom: 200px;
}
.circlepfp-container img {
    max-width: 300px; 
    max-height: 300px; 
}
  
.homepage-text {
    align-self: center;
    text-align: center;
    margin: 0 0;
    text-align: left;
    margin-bottom: 160px;
}
  
.homepage-text p {
    font-weight: 600;
    
}

.homepage-text:hover {
    cursor: default;
}
  
.p1 {
    text-align: center;
    color: grey;
    font-size: 20px;
}
  
.p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: white;
}
  
.homepage-title {
    font-size: 3rem;
    text-align: center;
    color: white;
}
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
}
  
.icon1{
    cursor: pointer;
    height: 4rem;
}

.icon2{
    cursor: pointer;
    height: 3rem;
}
  
.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
  
.btn-contact, .btn-cv {
    border: rgb(53, 53, 53) 0.1rem solid;
    color: white;
    background: none;
    background-color: #ffffff25;
}
  
.btn-cv:hover, .btn-contact:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    border: rgb(255, 255, 255) 0.1rem solid;
    background-color: gray;
}

/* About page */

#about-me{
    display: flex;
    
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 208px;
}

.about-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.about-title-p1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
    color: grey;
}

.about-text{
    font-size: 20px;
    color: white;
}

.about-text-container{
    display: flex;
    flex-direction: column;
    color: white;
}

.about-img-container img{
    width: 400px;
    margin-right: 50px;
    justify-content: center;
    margin-top: 30px;
}

.about-container{
    display: flex;
    color: white;
    margin-bottom: 30px;
    margin: 30px;
    justify-content: space-between;
    
    
}

.work-experience{
    margin-right: 40px;
}


/* Experience page */

.experience-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.experience-title-p1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
    color: grey;
}


.experience {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center;
    width: 100%;
}

.experience-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    width: 100%;
    max-width: 1000px; 
    padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.general-info-container {
    font-size: 18px;
    flex-grow: 1; 
    padding-left: 20px;
}

.date-container {
    white-space: nowrap; 
    font-size: 18px;
    padding-left: 20px;
    text-align: right;
}

.logo-img {
    max-width: 80px;
    max-height: 80px;
}

@media (max-width: 768px) {
    .experience-item {
        flex-direction: column; 
        text-align: center;
    }

    .general-info-container, .date-container {
        padding-left: 0; 
        text-align: center;
        margin-top: 10px;
    }
}







/* Projects page */

.project-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.project-title-p1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
    color: grey;
}


#projects {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.project-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    max-width: 600px; 
    background-color: rgb(41, 39, 39);
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    padding: 20px; 
    box-sizing: border-box; 
    border-color: grey;
    margin: 15px;
}


.image-container {
    width: 100%; 
    height: 300px; 
    overflow: hidden;
    border-radius: 10px; 
}

#cheese-img-container{
    margin-bottom: 20px;
}


.project-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}


.project-info-container {
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    text-align: center; 
}




.project-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0; 
}

.technologies {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
    
}

.tech-button {
    background-color: gray; 
    color: #fff; 
    border: none; 
    border-radius: 20px; 
    padding: 8px 15px; 
    font-size: 14px; 
    text-align: center; 
    cursor: default; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 25px;
}

.tech-button:hover {
    background-color: darkgray; 
    transform: scale(1.05); 
}

.tech-button:active {
    background-color: #003d7a; 
}

@media (max-width: 640px) {
    .project-item {
        width: 100%; 
        max-width: none; 
    }
}



/* Report page */

.reports-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.reports-title-p1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
    color: grey;
}


#technical-reports {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}


.report-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    max-width: 600px; 
    background-color: rgb(41, 39, 39);
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
}


.iframe-container {
    width: 100%;
    height: 400px; 
    overflow: hidden; 
    border-radius: 10px; 
    margin-bottom: 20px;
}


.report-iframe {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover; 
}


.report-info-container {
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}






/* Report page */

.contact-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.contact-title-p1{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
    color: grey;
}






/* Media Queries */
  
@media screen and (max-width: 1200px) {
    #homepage {
        flex-direction: column; 
        align-items: center;
    }

    .text{
        margin-bottom: 20;
    }
    
    .circlepfp-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
        margin-bottom: 20px;
    }

    .p2 {
        font-size: 1.25rem;
        text-align: center;
    }

    #about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 200px;
        margin-right: 200px;
        
    }

    .about-img-container{
        width: 400px;
        margin-bottom: 100px;
    }

    .about-container{
        margin: 40px;
        
        
    }
}