/* These apply to the whole website */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(6, 0, 24); 
    overflow-x: hidden;
    min-height: 100vh;
}

/* Home page */

#container{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/reverse\ background.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* background-attachment: fixed;  --- cool effect */
}

#navbar{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#nick-logo{
    width: 150px;
    padding: 2%;
}

.nav-content{
    flex: 1;
    text-align: right;
}

.nav-content p{
    list-style: none;
    display: inline-block;
    padding: 3px;
    position: relative;
    color: grey;
    text-decoration: none;
    font-size: 25px;
}

.nav-content ul li{
    list-style: none;
    display: inline-block;
    padding: 3px;
    position: relative;
}

.nav-content ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-content ul{
    font-size: 0;  
}

.nav-content ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: lightblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-content ul li:hover::after{
    width: 100%;
}

.nav-content p:hover {
    cursor: default;
}

#homepage {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 75vh;
    background-color: transparent;
    align-items: center;
}
  
.circlepfp-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: 0 0;
    justify-content: center; 
    align-items: center;
    margin-bottom: 200px;
}
.circlepfp-container img {
    max-width: 300px; 
    max-height: 300px; 
}
  
.homepage-text {
    align-self: center;
    text-align: center;
    margin: 0 0;
    text-align: left;
    margin-bottom: 160px;
}
  
.homepage-text p {
    font-weight: 600;
    
}

.homepage-text:hover {
    cursor: default;
}
  
.p1 {
    text-align: center;
    color: grey;
    font-size: 20px;
}
  
.p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: white;
}
  
.homepage-title {
    font-size: 3rem;
    text-align: center;
    color: white;
}
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
}
  
.icon1{
    cursor: pointer;
    height: 4rem;
}

.icon2{
    cursor: pointer;
    height: 3rem;
}
  
.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
  
.btn-contact, .btn-cv {
    border: rgb(53, 53, 53) 0.1rem solid;
    color: white;
    background: none;
    background-color: #ffffff25;
}
  
.btn-cv:hover, .btn-contact:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    border: rgb(255, 255, 255) 0.1rem solid;
    background-color: gray;
}

.menu-icon{
    height: 15px;
    width: 15px; 
    display: block; 
    
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
}

.burger-bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
}

.burger-menu.hidden {
    display: none; 
}

/* Side Menu Styling */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(64, 64, 64, 0.9); 
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.side-menu ul {
    padding-top: 80px;
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.side-menu .close-btn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    text-align: right;
}

.side-menu.active {
    transform: translateX(0);
}

.scroll-indicator {
    text-align: center;
    position: relative;
    bottom: 110px;
    font-family: Arial, sans-serif;
}

.scroll-indicator p {
    padding-top: 30px;
    color: white;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    animation: fadeInText 4s infinite;
}

#down-arrow {
    width: 24px; 
    height: auto;
    display: block;
    margin: 0 auto;
    animation: bounce 3s infinite; 
    height: 50px;
    width: 50px;
    padding: 10px;
}

/* Arrow bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px); 
    }
    60% {
        transform: translateY(5px);  
    }
}

/* Text fade animation */
@keyframes fadeInText {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


@media (max-width: 1200px) {
    #homepage{
        margin-top: 125px;
        flex-direction: column; 
        align-items: center;
    }

    .circlepfp-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
        margin-bottom: 20px;
    }

    .p2 {
        font-size: 1.25rem;
        text-align: center;
    }
}


@media (max-width: 1100px) {
    .nav-content {
        display: none; 
    }

    .burger-menu {
        display: flex; 
        margin-right: 15px;
    }
}


/* About page */

#about-me {
    display: flex;
    padding: 20px;
    align-items: center; 
}

.title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.title-p1 {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 1px;
    color: grey;
}

.about-text {
    font-size: 20px;
    color: white;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 400px;
}

.about-img-container {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.about-img-container img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
}

.about-container {
    display: flex;
    color: white;
    margin: 30px;
    justify-content: space-between;
}

.work-experience {
    margin-right: 40px;
}

.about-text-container {
    flex: 1; 
    padding-right: 75px;
    padding-bottom: 35px;
}

@media (max-width: 1200px) {
    .about-text-container {
        padding-right: 0; 
        padding-bottom: 15px;
    }

    .about-img-container{
        padding-bottom: 15px;
        width: 400px;
        margin-bottom: 20px;
    }

    #about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 200px;
        margin-right: 200px;
        
    }

    .about-container{
        margin: 40px;
    }
}


/* Experience page */

#experience-blank{
    padding-bottom: 20px;
}

.experience {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center;
    width: 100%;
   
}

.experience-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    width: 100%;
    max-width: 1000px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
}

.general-info-container {
    font-size: 18px;
    flex-grow: 1; 
    padding-left: 20px;
}

.date-container {
    white-space: nowrap; 
    font-size: 18px;
    padding-left: 20px;
    text-align: right;
}

.logo-img {
    max-width: 80px;
    max-height: 80px;
}

@media (max-width: 1100px) {
    .experience-item {
        flex-direction: column; 
        text-align: center;
    }

    .general-info-container, .date-container {
        padding-left: 0; 
        text-align: center;
        margin-top: 10px;
    }
}




/* Projects page */

#projects {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.project-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    max-width: 600px; 
    background-color: rgb(41, 39, 39);
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    padding: 20px; 
    box-sizing: border-box; 
    border-color: grey;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
    color: white;
    background-color: rgb(31, 33, 34);
}

.click-here-text {
    color: rgba(0, 255, 255, 0.6); 
    text-decoration: none;
}

/* Hover glow effect */
.project-item:hover {
    box-shadow: 0 8px 16px rgba(0, 255, 255, 0.6); 
    transform: scale(1.05); 
}

.model-title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.model-text{
    margin: 20px;
    font-size: 20px;
}


.image-container {
    width: 100%; 
    height: 300px; 
    overflow: hidden;
    border-radius: 10px; 
}

.image-container{
    margin-bottom: 20px;
}

.project-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.project-info-container {
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    text-align: center; 
    
}

.project-name {
    font-size: 27px;
    font-weight: bold;
    margin: 10px 0; 
}

.technologies {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
    
}

.tech-button {
    background-color: gray; 
    color: #fff; 
    border: none; 
    border-radius: 20px; 
    padding: 8px 15px; 
    font-size: 14px; 
    text-align: center; 
    cursor: default; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 25px;
}

.tech-button:hover {
    background-color: darkgray; 
    transform: scale(1.05); 
}

.tech-button:active {
    background-color: #003d7a; 
}

/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    
}

.modal-content {
    background-color: rgb(31, 33, 34);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    height: 80%; 
    overflow-y: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    
}

.modal-img {
    width: 100%; 
    border-radius: 10px;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

.modal.show {
    display: flex;
}

@media (max-width: 640px) {
    .modal-content {
        width: 90%;
        height: 90%;
    }
}


@media (max-width: 640px) {
    .project-item {
        width: 100%; 
        max-width: none; 
    }
}



/* Report page */

#technical-reports {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}


.report-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    max-width: 600px; 
    background-color: rgb(41, 39, 39);
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
    color: white;
}


.iframe-container {
    width: 100%;
    height: 400px; 
    overflow: hidden; 
    border-radius: 10px; 
    margin-bottom: 20px;
}


.report-iframe {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover; 
}


.report-info-container {
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#technical-reports {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.report-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    max-width: 600px; 
    background-color: rgb(41, 39, 39);
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
}

.report-item:hover {
    box-shadow: 0 8px 16px rgba(0, 255, 255, 0.6); 
    transform: scale(1.05); 
}


.iframe-container-preview {
    width: 100%;
    height: 500px; 
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.report-iframe-preview {
    width: 100%;
    height: 100%;
    border: none;
}


.modal {
    display: none;
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(31, 33, 34);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    height: 80%; 
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    color: white;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.iframe-container-modal {
    width: 100%;
    height: 600px; 
    overflow: hidden;
}

.report-iframe-preview {
    pointer-events: none; 
    width: 100%;
    height: 100%;
    border: none;
}

.report-iframe-modal {
    pointer-events: auto; 
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width: 640px) {
    .report-item {
        width: 100%; 
        max-width: none; 
    }
}


/* Contact page */


#contact-title-container{
    margin-top: 130px;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    border-radius: 2rem;     
    border: rgb(163, 163, 163) 0.1rem solid;
    background: rgb(163, 163, 163);
    padding: 0.5rem;
    max-width: 500px; 
    margin: 0 auto; 
    margin-bottom: 100px;
    box-shadow: 0 0 20px 5px rgba(173, 216, 230, 0.8); 
}

.contact-info-upper-container:hover {
    box-shadow: 0 0 25px 8px rgba(173, 216, 230, 1); 
}

  
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.words{
    text-decoration: none;
    color: black;
    
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 50px;
    width: 50px;
}
  
/* Footer */

footer {
    height: 10vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
    color: white;
}